<!DOCTYPE html>
<!--  Все що в середині тегу з атрибутом ng-app може бути оброблено задопомогою angular -->
<html ng-app="GameTracker">
  <head>
    <title>GameTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Підключаємо стилі bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Підключаємо тему bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Підключаємо angular, він має бути завантажений перед нашими користувацькими скриптами -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" ></script>

    <!-- Підключаємо користувацькі скрипти -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Підключаємо js bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>

    <!--  Цей div підпорядковується контролеру MainCtrl див файл main.js -->
    <div class="container" ng-controller="MainCtrl">
      <h3>Tracker</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Game</th>
            <th>Position 1</th>
            <th>Position 2</th>
            <th>Position 3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col-md-6">
          <h3>Games list</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Store</th>
              </tr>
            </thead>
              <!-- games - це масив об'єктів які мають властивості (ключі name, store) -->
              <!-- ng-repeat - цикл ангулар для шаблонів як each в erb -->
              <!-- для кожної гри виводим рядок з коміркою  game.name та game.name -->
              <tr ng-repeat="game in games">
                <td>{{game.name}}</td>
                <td>{{game.store}}</td>
              </tr>
            </tbody>
          </table>

          <!-- Ініціалізація форми -->
          <form class="form-inline" name="gameForm" ng-submit="createGame(gameForm)">
            <div class="form-group">
              <label>
                <span>Name</span>
                <!-- ng-model="game.name" - див рядок 33 main.js -->
                <!-- required - обов'язкове поле -->
                <input type="text" class="form-control" ng-model="game.name" name="name" placeholder="Please enter game name" required>
              </label>
            </div>
            <div class="form-group">
              <label>
                <span>Store</span>
                <!-- ng-model="game.store" - див рядок 33 main.js -->
                <!-- required - обов'язкове поле -->
                <input type="text" class="form-control" ng-model="game.store" name="store" placeholder="Please enter game store" required>
              </label>
            </div>

            <!-- при натисканні кнопки відбувається виклдик методу createGame -->
            <!-- якщо type="submit" і кнопка знаходиться у формі, то у формі відбудеться подія  submit -->
            <button type="submit" class="btn btn-primary" ng-disabled="gameForm.$invalid">Save</button>
          </form>
        </div>
        <div class="col-md-6">
          <h3>Employees list</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Position</th>
              </tr>
            </thead>
              <tr>
                <td>Alex</td>
                <td>RoR Developer</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </body>
</html>
