<!DOCTYPE html>
<html ng-app="GameTracker">
  <head>
    <title>GameTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" ></script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container" ng-controller="MainCtrl">
      <h3>Tracker</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Game</th>
            <th>Position 1</th>
            <th>Position 2</th>
            <th>Position 3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col-md-6">
          <h3>Games list</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Store</th>
              </tr>
            </thead>
              <tr ng-repeat="game in games">
                <td>{{game.name}}</td>
                <td>{{game.store}}</td>
              </tr>
            </tbody>
          </table>

          <form class="form-inline" name="gameForm" ng-submit="createGame(gameForm)">
            <div class="form-group">
              <label>
                <span>Name</span>
                <input type="text" class="form-control" ng-model="game.name" name="name" placeholder="Please enter game name" required>
              </label>
            </div>
            <div class="form-group">
              <label>
                <span>Store</span>
                <input type="text" class="form-control" ng-model="game.store" name="store" placeholder="Please enter game store" required>
              </label>
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="gameForm.$invalid">Save</button>
          </form>
        </div>
        <div class="col-md-6">
          <h3>Employees list</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Position</th>
              </tr>
            </thead>
              <tr>
                <td>Alex</td>
                <td>RoR Developer</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </body>
</html>
